@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0
}
body{
    background: url(../images/bj.png) center top ;
}
/*计时器 开始*/
.time{
    width: 900px;
    height: 500px;
    background-color:rgba(0,0,0,0.7);
    margin:160px auto;
}
/*计时器 结束*/
/*导航样式 开始
a{
    width: 83px;
    height: 86px;
    display: inline-block;
    float: left;
    margin:0 155px 0 230px;
}
.n_1{
    display: inline-block;
    background-image:url("../images/nav.png");
    background-repeat: no-repeat;
    background-position: -4px -5px;
}
.n_2{
    display: inline-block;
    background-image:url("../images/nav.png");
    background-repeat: no-repeat;
    background-position: -111px -5px;
}
.n_3{
    display: inline-block;
    background-image:url("../images/nav.png");
    background-repeat: no-repeat;
    background-position: -225px -11px;
}
.n_4{
    display: inline-block;
    background-image:url("../images/nav.png");
    background-repeat: no-repeat;
    background-position: -327px -10px;
}
a:hover
.nav{
    width: 1600px;
    height: 125px;
    margin:0px auto;
    box-sizing: border-box;
}
导航样式 结束*/